---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';


---

<Layout title="XeOaks">
	<main>
		<!--<h1 class="title"><span class="text-gradient"><a href="/">XeOaks</a></span></h1>-->
		<p class="instructions">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Diam phasellus vestibulum lorem sed. Non consectetur a erat nam at lectus urna duis convallis. Lectus magna fringilla urna porttitor rhoncus dolor purus. Egestas quis ipsum suspendisse ultrices gravida dictum fusce ut placerat.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		padding: 1rem;
		margin: 1rem;
		max-width: 90ch;
		min-width: fit-content;
		right: 0;
		position: relative;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
		padding-left: 10%;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
		
	}
	.title {
		background-image: linear-gradient(45deg, rgba(35, 213, 171, 0.5), #ee765280 16%, white 60%);
		background-size: 800%;
		background-position: 0%;
		border-radius: 0.4rem;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		margin-top: 0;
		background-color: white;
		padding: 1rem;
		border-radius: 1rem;
		border: .1px solid #070602ff;
		box-shadow: 5px 5px 7px #070602ff;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	@media only screen and (max-width: 768px) {
		main {
			width: 100vw;
			margin: 0;
			margin-top: 70px;
		}
	}
</style>
