---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Roboto:wght@100&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
	html {
		background: linear-gradient(-30deg, #070602ff, #692C34ff, #2C4F77ff, #063472ff, #0E2954ff, #070602ff);
		background-size: 400% 400%;
		animation: gradient 26s ease-in-out infinite;
		height: 100vh;
		
	}

	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}

	:root {
		--accent: 35, 166, 213;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #e73c7e 20%, rgba(255, 255, 255));
	}
	html {
		font-family: 'Roboto', system-ui, sans-serif;
		background-color: #e3eff3;
		text-transform: lowercase;
	}
	h1 {
		font-family: 'Atkinson Hyperlegible', system-ui, sans-serif;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
